<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron" style="padding: 32px;">
        <h1 class="display-4">Announcements!</h1>
        <p class="lead">
        <ul>
          <li>
            New students to be assigned a guide!
          </li>
          <li>
            Student_1's PHD viva rejected, because of delay of fee payment!
          </li>
          <li>
            Sasuke!!!!
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
