<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position: fixed; z-index: 100; width: 100%">
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/rv_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    ISE Research Portal
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="homeGuide">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" style=" width: 100%; height: 100%; padding-top: 70px">
  <div class="container-fluid">
    <div class="row justify-content-around" style="width: 100%; height: 100%; margin: 0">
      <div class="col-3">
        <div class="container-fluid" style="padding: 0;">
          <div class="list-group" style="padding: 0;">
            <a routerLink="announcement" class="list-group-item list-group-item-action" >Make Announcements</a>
            <a href="#" class="list-group-item list-group-item-action">Approve/Disapprove PHD Viva</a>
            <a href="#" class="list-group-item list-group-item-action">Assign Students</a>
            <a href="#" class="list-group-item list-group-item-action">See Student Details</a>
            <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Allot Marks</a>
          </div>
        </div>
      </div>
      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
      <!--<div class="col-3">-->

          <!--<div class="list-group" style="padding: 0;">-->
            <!--<a href="#" class="list-group-item list-group-item-action">-->
              <!--Cras justo odio-->
            <!--</a>-->
            <!--<a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>-->
            <!--<a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>-->
            <!--<a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>-->
            <!--<a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>-->
          <!--</div>-->

      <!--</div>-->
    </div>
  </div>
</div>
